/* img{
    width:60%;
    
  }  */
#menu {
   text-align: right;
}
.topcorner{
  position:absolute;
  top:10px;
  right: 50px;
  background-color: white;
}
.mat-toolbar {
  background: #ffffff;
  color: rgba(0,0,0,.87);
}

main{
  margin: auto;
  width: 60%;
  /* border: 3px solid green; */
  padding: 10px;
}
button{ background-color: #efefef; 
  width: 200px;


}

#phone {
  margin-left:50px;
  color:#212121;
}
logo {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
}
.bg-faded {
  
  background-color: white;
}

a.ex1 {
    margin-left: 120px;
}
a.ex2 {
  margin-left: 1220px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


