<ngb-carousel align="center">
    <ng-template ngbSlide>
  <img src="/assets/Voip.png" alt="Random third slide" style="max-height:300px; margin:0 auto;">
  <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="/assets/POS.jpg" alt="Random second slide" style="max-height:300px; margin:0 auto;">
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="/assets/camera1.jpg" alt="Random first slide" style="max-height:300px; margin:0 auto;">
        <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>



<main>
<!-- <button mat-button routerLink="/aboutUs"><mat-icon>info</mat-icon>About Us</button>
<button mat-button routerLink="/services"><mat-icon>settings</mat-icon>Services</button>
<button mat-button routerLink="/contactUs"><mat-icon>email</mat-icon>Contact</button>
<button mat-button routerLink="active"><mat-icon>image-multiple</mat-icon>Gallery</button>   -->

<!-- <input id="str" [(ngModel)]="str"/>
<button (click)="sendValues()">Send</button> -->

<!-- <p>Here at Technology Gateway Inc. in Chicago Ridge,  we do our very best to make sure that we cover all of your 
    Technology needs. Whether you need residential or commercial services, no job is too big or too small for us. 
    Our staff is friendly, professional and knowledgeable, so you're in good hands.</p> -->

    <mat-card> 
    <mat-list>
      <p>Here at Technology Gateway Inc. in Chicago Ridge,  we do our very best to make sure that we cover all of your Technology needs. Whether you need residential or commercial services, no job is too big or too small for us. Our staff is friendly, professional and knowledgeable, so you're in good hands.</p>
       <p> <mat-list-item> <mat-icon>videocamera</mat-icon> Security Cameras </mat-list-item></p>
       <p><mat-list-item> <mat-icon svgIcon="thumbs-up"></mat-icon>Access Control </mat-list-item></p>
        <p><mat-list-item><mat-icon>security</mat-icon> Alarms </mat-list-item></p>
       </mat-list>
</mat-card>

<p></p>


<p>UPGRADE YOUR CAMERAS FROM ANALOG TO DIGITAL. THE EXISTING COAX CABLE CAN BE USED WHICH REDUCES THE COST OF UPGRADING THE SYSTEM TO HD.</p>
    <iframe src="https://www.youtube.com/embed/O4aKeS4LfN4"
    width="560" height="315" frameborder="0" allowfullscreen></iframe>

<p></p>

  <h4>Request A Free Quote</h4>
    <form class="example-form">
      
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="First name" id="firstName" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" id="lastName" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}">
            </mat-form-field></td>
          </tr></table>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="email">
            <mat-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <span matPrefix>+1 &nbsp;</span>
              <input type="tel" matInput placeholder="Telephone" id="tel" [(ngModel)]="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tel">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
      
       
      
        <p>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address" id="address" [(ngModel)]="address" [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address 2" id="address2" [(ngModel)]="address2" [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="City">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="State">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="" id="postCode" [(ngModel)]="postCode" [ngModelOptions]="{standalone: true}">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
        
      </form>
      <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
   
        <mat-form-field class="example-full-width">
            <input matInput #message maxlength="256" placeholder="Message" id="message1" [(ngModel)]="message1">
            <mat-hint align="start"><strong>Let us know what your looking to do</strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>


          
          <!-- <button md-button>Click me!</button> -->
          <button (click)="sendValues()" mat-button routerLinkActive="active"><mat-icon>submit</mat-icon>Submit</button>



          <!-- <form [formGroup]="emailservice.contactForm" (ngSubmit)="emailservice.onSubmitForm()">
            
              <input type="text" formControlName="userFirstName">
              <label>First Name</label>
              
              <input type="text" formControlName="userLastName">
              <label>Last Name</label>
            
              <button type="submit">SUBMIT</button>
              <!-- <button (click)="sendValues()" mat-button routerLinkActive="active"><mat-icon>submit</mat-icon>Submit</button> -->
              
            <!-- </form>  -->
          
          


</main>
<!-- <ngb-carousel align="center">
        <ng-template ngbSlide>
          <img src="/assets/camera1.jpg" alt="Random first slide" style="max-height:300px; margin:0 auto;">
          <div class="carousel-caption">
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/assets/POS.jpg" alt="Random second slide" style="max-height:300px; margin:0 auto;">
          <div class="carousel-caption">
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/assets/Voip.png" alt="Random third slide" style="max-height:300px; margin:0 auto;">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel> -->
<!-- <h2>TECHNOLOGY GATEWAY INC. IN CHICAGO RIDGE</h2>
<p>Here at Technology Gateway Inc. in Chicago Ridge,  we do our very best to make sure that we cover all of your 
    Technology needs. Whether you need residential or commercial services, no job is too big or too small for us. 
    Our staff is friendly, professional and knowledgeable, so you're in good hands.</p> -->
   