
<img src="/assets/homePageImage.png" class="img-fluid" alt="Responsive image">

<div class="container">
    <div class="jumbotron">

          <br>

          <mat-card> 
              <mat-list>
                
                <p>Here at Technology Gateway Inc. in Chicago Ridge,  we do our very best to make sure that we cover all of your Technology needs. Whether you need residential or commercial services, no job is too big or too small for us. Our staff is friendly, professional and knowledgeable, so you're in good hands.</p>
                 <p> <mat-list-item> <mat-icon>videocamera</mat-icon> Security Cameras </mat-list-item></p>
                 <p><mat-list-item> <mat-icon svgIcon="thumbs-up"></mat-icon>Access Control </mat-list-item></p>
                  <p><mat-list-item><mat-icon>security</mat-icon> Alarms </mat-list-item></p>
                  
                  <br><p>UPGRADE YOUR CAMERAS FROM ANALOG TO DIGITAL. THE EXISTING COAX CABLE CAN BE USED WHICH REDUCES THE COST OF UPGRADING THE SYSTEM TO HD.</p>
                 
                  <p class="h3"><mat-icon>phone</mat-icon>708-670-7766</p>
                  <p class="h3"><mat-icon>email</mat-icon>Info@tgatewayinc.com</p>
                 
              <br>
              <br>
                 
                  <h4>Request A Free Quote</h4>
                  
                  <form #loginForm="ngForm" [formGroup]="emailservice.contactForm" (ngSubmit)="emailservice.onSubmitForm(loginForm.value)">
                      <div class="form-group">
                          <label for="exampleInputName">Name or Company</label>
                          <input type="text" class="form-control" id="firstName" placeholder="Name or Company" formControlName="firstName" required>
                        </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>  
                      <div class="form-group">
                          <label for="exampleInputphoneNumber">Phone Number</label>
                          <input type="text" class="form-control" id="tel" placeholder="Phone Number" formControlName="tel" required>
                        </div>   
                 
                      <div class="form-group">
                        <label for="exampleSelect2">Type of Service</label>
                        <select multiple class="form-control" id="service" formControlName="service">
                          <option>Alarms</option>
                          <option>Access Control</option>
                          <option>Security Cameras</option>
                          <option>Point of Sales(POS)</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea" >Message</label>
                        <textarea class="form-control" id="message1" rows="3" formControlName="message1"></textarea>
                      </div>
                     
                    
                      <button class="btn btn-primary" type="submit">Submit</button>
                      
                    </form>
                 
                <br>
                <br>
                <br>
                
                </mat-list>
              
          </mat-card>
        
          <br>
          <br>
          
        </div>
           
   
