<!-- <h3>TECHNOLOGY GATEWAY INC.
    CHICAGO RIDGE, IL, UNITED STATES</h3>
    <p>Telephone: 7086707766</p>
     <p>   Fax:           7083751574</p>
      <p> Email:        tmgateway@gmail.com</p> -->


<div class="container">
    <div class="jumbotron">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div> 
              <mat-card-title>Technoloy Gateway Inc.</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p><b>Telephone: (708)-670-1535</b></p>
              <p><b>Fax: 7083751574</b></p>
              <p><b>Email: tmgateway@gmail.com</b></p>
              
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>LIKE</button>
              <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>
          <!-- <form #loginForm="ngForm" [formGroup]="emailservice.contactForm" (ngSubmit)="emailservice.onSubmitForm(loginForm.value)">
           
          <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
            <label for="exampleFormControlInput1">Phone Number</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Phone Number">
          </div>
           
           
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button class="btn btn-default" type="submit" [disabled]="loginForm.invalid">Submit</button>
          </form> -->






    </div>


  





    <!-- <div class="panel panel-primary">
      <div class="panel-heading">Status</div>
      <div class="panel-body">
        <h3>{{title}}</h3>
      </div>
    </div> -->
    
    
  </div>