<!-- <h3>TECHNOLOGY GATEWAY INC.
    CHICAGO RIDGE, IL, UNITED STATES</h3>
    <p>Telephone: 7086707766</p>
     <p>   Fax:           7083751574</p>
      <p> Email:        tmgateway@gmail.com</p> -->
<main>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Technoloy Gateway Inc.</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p><b>Telephone: (708)-670-1535</b></p>
          <p><b>Fax: 7083751574</b></p>
          <p><b>Email: tmgateway@gmail.com</b></p>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      
</main>