<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Video Surveillance</md-card-title>
    <md-card-subtitle>Home/Business</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="/assets/Sony-ptz-camera.jpg" alt="Sony-ptz-Camera">
  <md-card-content>
    <p>Many security problems start for homes & businesses when no one is watching. With Technology Gateway 
      Security Camera Systems, You can view a Live Feed of your Security Cameras from Anywhere in the World 
      using your - iPhone, Android, iPad, PC, Mac, and More. Services from Technology Gateway, Inc. assure
       monitoring around the clock and from all angles to keep an eye on places you value, even when you are 
       not looking.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
