<div class="container">
    <div class="jumbotron">
      <!-- <mat-card layout="row">Simple card</mat-card>
<br>
<mat-card layout="row">Simple card</mat-card> -->

<div class="bottom">
    <br>
      <div class="col">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Video Surveillance</mat-card-title>
              <mat-card-subtitle>Home/Commercial</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/camera1.jpg" alt="videoImage">
            <mat-card-content>
              <p>Many security problems start for homes & businesses when no one is watching. With 
                Technology Gateway Security Camera Systems, You can view a Live Feed of your Security 
                Cameras from Anywhere in the World using your - iPhone, Android, iPad, PC, Mac, and More. Services 
                from Technology Gateway, Inc. assure monitoring around the clock and from all angles to keep an eye on 
                places you value, even when you are not looking.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>LIKE</button>
              <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>IT Support</mat-card-title>
                <mat-card-subtitle>Home/Commercial</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="./assets/IT.jpeg" alt="IT Support">
              <mat-card-content>
                <p>
                    We work with many types of IT customers with unique needs and very different budget levels. We craft an IT plan and budget for each customer to help them get the best value and strategically select their services and products. We provide on-site expert, friendly technical support to business, home and home office users. Unlike repair shops, we have a strong emphasis on explanation, friendly communication, and training.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
              </mat-card-actions>
            </mat-card>
            <br>
      
      
      
      
      
      
      
      
      
      </div>
      
      <div class="col">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Point of Sale</mat-card-title>
                <mat-card-subtitle>Commercial</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="./assets/POS1.jpg" alt="videoImage">
              <mat-card-content>
                <p>Point of sale systems involves the use of computers as opposed to cash registers in various retail applications. Apart from simply recording transactions, this system can easily track inventory, handle debit and credit card payments and print informative receipts and invoices.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
              </mat-card-actions>
            </mat-card>
            <br>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Phone Entry System</mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./assets/tel.jpg" alt="">
                <mat-card-content>
                  <p>
                      When it comes to communicating with guests at your gate, there is no better way to get the job done than using our high-quality telephone intercom systems. We offers a wide range of phone entry systems that give you complete control of your gate communication. Several of our products allow you to use your existing telephone line, eliminating the inconvenience of installing an entirely new line just for your gates. Our intercom systems even offer communication options for multiple gates if you have several entrances around your property. Whether you own a home or a business, being able to communicate with those at your gate entrances is always important. 
                  
                  
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <!-- <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button> -->
                </mat-card-actions>
              </mat-card>
              <br>
        
      
      </div>
      <div class="col">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Home Automation</mat-card-title>
                <mat-card-subtitle>Home</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="./assets/smartyhome.jpg" alt="videoImage">
              <mat-card-content>
                <p>We live in a time unlike any other. With so many technological advancements at our fingertips, our lives are made easier, which is fortunate considering the fast-paced lives most of us lead. In recent years, great strides have been made in making homes a bit more “tech savvy.” This technology, in short, allows the homeowner to run his or her home while away through a remote, often on a Smartphone or iPad. In fact, these homes have been labeled as being “smart,” due to the fact that they can seemingly think on their own.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
              </mat-card-actions>
            </mat-card>
            <br>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Alarms</mat-card-title>
                  <mat-card-subtitle>Home/Commercial</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/homeAlarm.jpg" alt="">
                <mat-card-content>
                  <p>
                      Nowadays, house alarms or home security systems are preferably needed to ensure the house security from burglars and criminals. Installing a home security system can improve the safety of your family and property. 
                      The most common burglar alarm sensors can indicate the opening of a window or door. The new designed systems are predominantly hardwired for economic purposes. While the retrofit wireless systems can also be more economical and are quicker to set up.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <!-- <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button> -->
                </mat-card-actions>
              </mat-card>
              <br>
        
      
      
      </div>
  </div>
  

          
    </div>





   
    
  </div>